.welcome-bg {
  background: linear-gradient(135deg, #FC354C 0%, #0ABFBC 100%);
}

.glass-box {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 400px;
}
